.mensajes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_mensaje {
    height: 90%;
    min-height: 500px;
    width: 90%;
    max-width: 1400px;
    /* background-color: rgb(18, 55, 116); */
    margin-top: 2em;
}

.container_container_mensaje{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.container_mensaje>h1 {
    margin: 1em;
    text-align: center;
    font-family: 'Arial', sans-serif;
    /* Cambia 'Arial' por la fuente que prefieras */
    font-size: 32px;
    /* Tamaño de la fuente */
    font-weight: bold;
    /* Negrita */
    text-shadow: 5px 4px 4px rgba(37, 10, 10, 0.5);
    /* Sombra de texto */
    color: #605c64;
    /* Color del texto */
}

.detalleMensaje {
    /* background-color: rgb(20, 49, 129); */
    /* background-color: rgb(45, 85, 194); */
    background-color: rgb(9, 17, 39);
    margin: 1em;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(255, 255, 255);
    max-width: 400px;
}

.mensaje_foto {
    display: flex;
    justify-content: start;
    align-items: center;
}

.mensaje_foto>img {
    border-radius: 50%;
    width: 60px;
    margin: 1em;
}

.contenido_mensaje{
    margin: 1em;
}

.contenido_mensaje> div{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    gap:5px;
    margin-bottom: 1em;
}

.contenido_mensaje_data{
    color: rgb(175, 168, 159);
    text-align: justify;
}



@media only screen and (max-width: 900Px) {
    .mensajes {
        margin-top: 8em;
    }
}

.fecha_nombre{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
}