.container__SN {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../image/fondo_pc_home.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}

.SN__title {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.SN__title>h1 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    /* font-weight: bold; */
    /* font-style: oblique; */
    margin-top: 20px;
    color: rgb(21, 28, 95);
    text-shadow: 2px 2px 20px rgba(255, 255, 255, 1);
}
.SN__description{
    max-width: 1200px;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 20px rgb(56, 52, 52);
    gap: 20px;
    padding: 1em;
}

.SN__description>h3{
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    font-style: oblique;
    color: rgb(82, 41, 15);
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 1);
}

.SN__description >p{
    font-family: 'Cinzel Decorative', cursive;
    text-align: justify;
}

.container_m_v{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: auto;
    padding: 30px;
}

.mision, .vision{
    max-width: 500px;
    min-width: 280px;
    height: 240px;
    background-color: rgba(73, 72, 72,.6);
    border-radius: 1em;
    box-shadow: 8px 5px 12px rgb(109, 108, 108);
}

.mision>h4, .vision>h4{
    text-align: center;
    padding: 1em;
    color: white;
    font-family: 'MedievalSharp', cursive;
}

.mision>p, .vision>p{
    color: white;
    padding: 1em;
    font-family: 'Cinzel Decorative', cursive;
    text-align: justify;
}

.valores{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
}

.tile__valores{
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    color: rgb(43, 201, 201);
    padding: 1em 1em 2em 1em;
    text-shadow: 8px 5px 12px rgb(179, 175, 175);
}
.valores >div{
    width: 200px;
    height: 40px;
    background-color: rgba(30, 83, 145, 0.6);
    border-radius: 1em;
    box-shadow: 8px 5px 12px rgb(82, 81, 81);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel Decorative', cursive;
}


@media only screen and (max-width: 900Px) {


    .container__SN {
        padding-top: 140px;
  
    }

    .mision, .vision{
        height: 280px;
    }



    .SN__title>h1 {
        font-size: 22px;

    }
}