.container__app {
  display: grid;
  /* background: rgb(93, 52, 52); */
  grid-template-rows: 80px 1fr 90px;
  height: 100vh;

}

@media only screen and (max-width: 768px) {
  .container__app {
    display: grid;
    grid-template-rows: 80px 1fr 205px;
    /* height: 100vh; */
    /* width: 100vw; */
  }
  
}

main{
  background: rgba(43, 103, 160, 0.25);
  
}



